* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

h2 {
    font: bold 14px sans-serif;
}

header, section, footer, aside,  nav, article, hgroup {
    display: block;
}

body {
    text-align: center;
}

.agrupar {
    border: 1px solid black;
    width: 960px;
    margin: 15px auto;
    background: white;
}

.cabecera {
    background: #fffbb9;
    border: 1px solid #9999;
    padding: 20px;
}

.cabecera h1 {
    text-align: left;
}

.menu {
    background: #ccc;
    padding:  15px 5px;
    text-align: left;
}

.menu li {
    list-style: none;
    padding:  5px;
    font: bold 14px verdana;
    display: inline-block;
}

article {
    background: #fffbcc;
    border: 1px solid #999;
    padding: 20px;
    margin-bottom: 15px;
}

time {
    color: #999;
}

article footer {
    text-align: right;
    margin-top: 20px;
}

.seccion {
    margin: 20px;
    width: 60%;
    float: left;
}

.columna {
    margin: 20px 0;
    width: 30%;
    float: left;
}

.columna blockquote {
    border: 1px solid black;
    padding: 40px;
    background: #fffbb9;
    margin-bottom: 20px;
}

.pie {
    clear: both;
    padding: 20px;
    background: #6d7874;
    color: #fff;
}

img {
    width: 80px;
    display: block;
    margin: 20px auto;
}